# Folders created at compilation
bin/
lib/
build/
x86/
x64/

# Folders created at documentation generation
doc/build/

Release/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

CMakeFiles/
*.dir/

.vscode/
CMakeCache.txt
Makefile
cmake_install.cmake
squirrel.sln
